*{
    font-family: 'Poppins', 'Calibri';
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

:root{
    --primary: white;
    --secondary: #C0C0C0;
    --background_color: #333333;
}

.hero-section{
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
}

.header{
    position: absolute;
    height: 10%;
    border-bottom: 2.5px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-overlay{
    position: absolute;
    height: 10%;
    border-bottom: 2.5px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 2;
}

.header .title{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header .title .logo{
    width: clamp(50px, 5vw + 30px, 75px);
    height: clamp(50px, 5vw + 30px, 75px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.5px solid var(--primary);
}

.header .title .logo img{
    border-radius: 50%;
}

.header .title .title-text{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header .title .title-text p{
    width: max-content;
    height: max-content;
    font-size: clamp(1.5rem, 0.6429rem + 1.3393vw, 2.25rem);
    font-weight: 800;
    color: var(--primary);
}

.header-overlay .overview-button{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-left: 2.5px solid var(--primary);
    cursor: pointer;
    text-decoration: none;
}

.header-overlay .overview-button:hover{
    transition: .5s ease;
    background-color: var(--primary);
}

.header-overlay .overview-button:hover .logo i{
    transition: .25s ease;
    color: var(--background_color);
    scale: calc(1.1);
}

.header-overlay .overview-button:hover .text p{
    transition: .25s ease;
    color: var(--background_color);
    scale: calc(1.1);
}

.header-overlay .overview-button .logo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-overlay .overview-button .logo i{
    font-size: clamp(1.5rem, 0.9286rem + 0.8929vw, 2rem);
    height: max-content;
    width: max-content;
    color: var(--primary);
}

.header-overlay .overview-button .text{
    display: flex;
    align-items: center;
    justify-content: start;
}

.header-overlay .overview-button .text p{
    height: max-content;
    width: max-content;
    font-size: clamp(1rem, 0.4286rem + 0.8929vw, 1.5rem);
    color: var(--primary);
    font-weight: 500;
}

.header-filler{
    height: 10%;
}

.hero-body{
    position: relative;
    height: 90%;
}

.hero-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}