*{
    font-family: 'Poppins', 'Calibri';
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

:root{
    --primary: white;
    --secondary: #C0C0C0;
    --background_color: #333333;
}

.hero-section{
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
}

.header{
    position: absolute;
    height: 10%;
    border-bottom: 2.5px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-overlay{
    position: absolute;
    height: 10%;
    border-bottom: 2.5px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 2;
}

.header .title{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header .title .logo{
    width: clamp(50px, 5vw + 30px, 75px);
    height: clamp(50px, 5vw + 30px, 75px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.5px solid var(--primary);
}

.header .title .logo img{
    border-radius: 50%;
}

.header .title .title-text{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header .title .title-text p{
    width: max-content;
    height: max-content;
    font-size: clamp(1.5rem, 0.6429rem + 1.3393vw, 2.25rem);
    font-weight: 800;
    color: var(--primary);
}

.header-overlay .overview-button{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-left: 2.5px solid var(--primary);
    cursor: pointer;
    text-decoration: none;
}

.header-overlay .overview-button:hover{
    transition: .5s ease;
    background-color: var(--primary);
}

.header-overlay .overview-button:hover .logo i{
    transition: .25s ease;
    color: var(--background_color);
    scale: calc(1.1);
}

.header-overlay .overview-button:hover .text p{
    transition: .25s ease;
    color: var(--background_color);
    scale: calc(1.1);
}

.header-overlay .overview-button .logo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-overlay .overview-button .logo i{
    font-size: clamp(1.5rem, 0.9286rem + 0.8929vw, 2rem);
    height: max-content;
    width: max-content;
    color: var(--primary);
}

.header-overlay .overview-button .text{
    display: flex;
    align-items: center;
    justify-content: start;
}

.header-overlay .overview-button .text p{
    height: max-content;
    width: max-content;
    font-size: clamp(1rem, 0.4286rem + 0.8929vw, 1.5rem);
    color: var(--primary);
    font-weight: 500;
}

.header-filler{
    height: 10%;
}

.hero-body{
    position: relative;
    height: 90%;
}

.hero-content-background{
    position: absolute;
    background: url(../../assets/achievements_background.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.hero-content{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
    scroll-snap-type: x mandatory; 
}

.achievement-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-shrink: 0;
    scroll-snap-align: center;
}

.achievement-box{
    height: 500px;
    width: 750px;
    background-color: var(--background_color);
    border: 2.5px solid var(--primary);
    border-radius: 5px;
    position: relative;
}

.next-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px; 
    height: 50px;
    padding: 10px 20px;
    border: 2px solid var(--primary);
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 10;
}

.next-btn:hover {
    background-color: var(--primary);
    color: var(--background_color);
}

.hero-content::-webkit-scrollbar {
    display: none;
}

@keyframes popUpEffect {
    0% {
        transform: scale(0.5) translateY(40px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

.achievement-slide:target .achievement-box {
    animation: popUpEffect 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.box-content{
    border-radius: 5px;
}

.achievement-title{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2.5px solid var(--primary);
}

.achievement-title p{
    height: max-content;
    width: max-content;
    text-align: center;
    font-size: clamp(1rem, 0.3571rem + 0.9524vw, 1.5rem);
    color: var(--primary);
}

.achievement-content{
    height: 65%;
    padding: 1.5px;
    border-bottom: 2.5px solid var(--primary);
    scale: calc(1);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#innov8{
    background: url(../../assets/achievements_img/innov8.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#interdepartment{
    background: url(../../assets/achievements_img/interdepartment.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#expo{
    background: url(../../assets/achievements_img/expo.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#codefest{
    background: url(../../assets/achievements_img/codefest.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contacts-btn-container{
    display: flex;
    align-items: end;
    padding-bottom: 25px;
    justify-content: center;
}

.contacts-btn{
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border: 2.5px solid var(--primary);
    background-color: var(--background_color);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.contacts-btn:hover{
    transition: .5s ease;
    background-color: var(--primary);
    border: 2.5px solid var(--background_color);
}

.contacts-btn:hover i{
    transition: .5s ease;
    color: var(--background_color);
}

.contacts-btn:hover .text{
    transition: .5s ease;
    color: var(--background_color);
}

.contacts-btn i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--primary);
    font-size: 16px;
}

.contacts-btn .text{
    height: max-content;
    width: max-content;
    color: var(--primary);
    font-size: 16px;
}